body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Geneva, Swiss, Arial, SunSans-Regular, sans-serif;
  line-height: normal;
  font-size: 11pt;
}

.date {
    color: grey;
    font-size: 10pt;
    font-family: sans-serif;
    font-size: 10pt;
    text-decoration: none;
}

sup { vertical-align: top;
      font-size: 0.6em; }

#document {
  font-size: 12pt;
}
